[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
gunicorn = "*"
djangorestframework = "*"
whitenoise = "*"
django-cors-headers = "*"
django-constance = {extras = ["database"], version = "*"}
celery = "*"
redis = "*"
django-celery-results = "*"
pillow = "*"
python-keycloak = "*"
requests = "*"
django-celery-beat = "*"

[dev-packages]
pylint = "*"
coverage = "*"
django-debug-toolbar = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
